body {
    background-color: rgb(205, 243, 255);
    margin-top: 20px;
}
div.flexin {
    display: flex;
    justify-content: center;
}
.flexin > section {
    width: 45%;
    margin: 20px;
    padding: 20px;
    background-color: beige;
}